/* I think it should be the same CSS! Let me know if you still have issues */
body {
     background-image: linear-gradient(#E5C3D1, rgb(112, 111, 111));
}


/* Comment from Chloé: Love that you played around with text shadow! Looks great.  */
h1 {
    color: #7B435B;
    letter-spacing: 20px;
    text-shadow: 0 4px 4px #FFFFFF;
    text-align: center;
    font-size: 69px;
}

.images {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}

.images img {
    width:30%;
    height:30%;
    margin: 10px;
}


img:hover {
  border: inset 8px  #7B435B;
  margin: -1px;
}


/* .links {
    display: flex;
    flex-wrap:wrap;

    flex-direction: column;
    
} */

/* .links img {
    width:30%;
    height:30%;
    margin: 10px;
} */

/* .links a {
     margin: 10px;
} */